@model IEnumerable<Uppgift14_Garage30.Models.ViewModels.VehicleEditViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Vehicle</a>
</p>



<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberPersonalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberPersonalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.RegistrationNumber">Edit</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.RegistrationNumber">Details</a>

            </td>
        </tr>
}
    </tbody>

</table>
