@model IEnumerable<Uppgift14_Garage30.Models.ParkedVehicleViewModel>

@{
    ViewData["Title"] = "ParkedVehiclesOverview";
    
}

<h1>ParkedVehiclesOverview</h1>



<table>
    <thead>
        <tr>
            <th>Owner Full Name</th>
            <th>Personal ID</th>
            <th>Number of Vehicles</th>
            <th>Vehicle Type</th>
            <th>Registration Number</th>
            <th>Parking Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle.OwnerFullName</td>
                <td>@vehicle.PersonalId</td>
                <td>@vehicle.NumberOfVehicles</td>
                <td>@vehicle.VehicleType</td>
                <td>@vehicle.RegistrationNumber</td>
                <td>@vehicle.ParkingTime</td>
            </tr>
        }
    </tbody>
</table>
